/* 
A partir del ejercicio anterior resuelto, determinar las reglas CSS necesarias para añadir los siguientes bordes:

1. Los elementos #noticias y #pie tiene un color de fondo gris claro (#F8F8F8). 
2. El elemento #publicidad muestra un color de fondo amarillo claro (#FFF6CD). 
3. Los elementos <h2> del lateral #secundario muestran un color de fondo #DB905C y un pequeño padding de .2em. 
4. El fondo del elemento #menu se construye mediante una pequeña imagen llamada fondo_menu.gif. 
5. El logotipo del sitio se muestra mediante una imagen de fondo del elemento <h1> contenido en el elemento #cabecera (la imagen se llama logo.gif).
*/

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

h1,
h2,
h3,
p,
form {
    margin: 0;
    padding: 0
}

.clear {
    clear: both
}

img {
    border: none
}

#contenedor {
    width: 90%;
    max-width: 900px;
    margin: 0 auto
}

#cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
    /* border: 2px solid #777; */
}

#cabecera {
    clear: both
}

#menu {
    clear: both
}

#lateral {
    float: left;
    width: 20%
}

#contenido {
    float: right;
    width: 78%
}

#contenido #principal {
    float: left;
    width: 78%
}

#contenido #secundario {
    float: right;
    width: 20%
}

#pie {
    clear: both
}

#cabecera #logo {
    float: left
}

#cabecera #buscador {
    float: right
}

#menu ul#menu_principal li {
    display: inline;
    float: left
}

#contenido #principal .articulo img {
    width: 100px;
    float: left
}

#pie .enlaces {
    float: left
}

#pie .copyright {
    float: right
}


/* AQUÍ EMPIEZA MI CÓDIGO EJERCICIO 3*/
#cabecera {
    padding: 1em;
}
#menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
}
#noticia, #publicidad, #principal, #secundario{
    padding: 0.5em;
}
#pie {
    margin-top: 1em;
    padding: 0.5em 0;
}
.articulo + .articulo{
    margin-top: 1em;
}
.articulo img{
    margin: 0.5em;
}
#publicidad{
    margin-top: 1em;
}

/* AQUÍ EMPIEZA MI CÓDIGO EJERCICIO 4 */
#menu{
    border-bottom: 1px solid #004C99;
}
#noticias{
    border: 1px solid #C5C5C5;
}
#publicidad{
    border: 1px dashed #CC6600;
}
#secundario{
    border: 1px solid #CC6600;
}
#pie{
    border-bottom: 1px solid #C5C5C5;
    border-top: 1px solid #C5C5C5;
}

/* AQUÍ EMPIEZA MI CÓDIGO EJERCICIO 5 */
#noticias, #pie{
    background-color: #F8F8F8;
}
#publicidad{
    background-color: #FFF6CD;
}
#secundario h2{
    background-color: #DB905C;
    padding: 0.2em;
}
#menu{
    background-image: url(../img/fondo_menu.gif); 
}
#cabecera h1{
    background-image: url(../img/logo.gif);
}