body{
    background-color: rgb(229, 227, 227);
}

th{
    text-decoration: overline;
}

td{
    text-decoration: underline;
}

.timeTable-container{
    margin: 4%;
    width: 92%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.timeTable1{
    margin-bottom: 30px;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 7px 7px 7px rgb(116, 116, 116);
}

.timeTable2{
    text-align: center;
    border-collapse: collapse;
    box-shadow: 7px 7px 7px rgb(116, 116, 116);
}

.timeTable1 th{
    border: 1px solid black;
    padding: 8px;
}

.timeTable1 td, .timeTable2 td{
    border: 1px solid black;
    width: 100px;
    height: 40px;
    padding: 10px;
}

.white{
    background-color: black;
    color: white;
    font-style: italic;
    text-decoration: overline;
}

.green{
    background-color: lightGreen;
}

.yellow{
    background-color: lightyellow;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.wheat{
    background-color: wheat;
}