nav{
    height: 10vh;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.logo{
    width: 30%;
}

.logo img{
    width: 27%;
    padding: 0.7em;
}

.menu{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: medium;
    align-items: center;
}

.menu button{
    border: none;
    background-color: white;
    color: rgb(167, 166, 166);
}

.menu img{
    width: 1.8em;
    margin-bottom: -0.5em;
}

.menu-descargar{
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
    width: 20%;
    max-height: 4.2em;
    text-align: center;
}

.menu-personas button{
    border-bottom: 2.2px solid black;
    color: #000000;
}

.sesion{
    width: 30%; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sesion-unirse{
    background-color: white;
    color: rgba(48, 48, 48, 0.9);
    border: none;
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    font-weight: bold;
    font-size: large;
}

/* En caso de tener el mouse encima rgb(59 130 246 / 0.5) */
.sesion-iniciar{
    background-color: white;
    color: #0a66c2;
    border: 2px solid #0a66c2;
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    font-weight: bold;
    font-size: large;
}

section{
    width: 65%;
    float: left;
}

.perfil, .cursos{
    margin: 1.2em;
    background-color: white;
    border: 1px solid #ebebeb;
    height: calc(100% - 2.4em);
    width: calc(100% - 2.4em);
    border-radius: 0.5em;
}

.perfil-fondo img{
    width: 100%;
    border-radius: 0.5em;
}


.perfil-top{


}


.perfil-foto{
    background-color: white;
    margin: 0.5em;
    padding: 0.5em;
    border: 5px solid #5460bd;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    position: absolute;
    top: 17em;
}

.perfil-foto img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.cursos{
    border: none;
}

aside{
    width: 35%;
    float: right;
}

section, aside{
    height: 80vh;
}