:root{
    --width: 250px;
    --aspecto: 1.453;
}

body{
    margin: 0;
    height: 100vh;
}

.tapete{
    background-image: url("../img/tapete.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.jugador1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.jugador2{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* Casda una de las cartas */
.carta {
    position: relative;
    width: var(--width);
    height: calc(var(--width) * var(--aspecto));
}

/* El anverso y reverso de cada carta */
.carta div{
    position: absolute;
    width: var(--width);
    height: calc(var(--width) * var(--aspecto));
    background-size: cover;
    transition: all 1s;
}

/* Reverso general y con hover */
.reverso{
    background-image: url("../img/reverso.jpg");
    z-index: 10;
    transform: rotateY(0deg);
}
.carta:hover .reverso{
    transform: rotateY(180deg);
    z-index: 0;
}

/* Anverso general y con hover */
.anverso{
    z-index: 0;
    transform: rotateY(180deg);
}
.carta:hover .anverso{
    transform: rotateY(0deg);
    z-index: 10;
}

/* Los anversos y el div completo de cada carta */
.exodia{

}
.exodia .anverso{
    background-image: url("../img/exodia.png");
}

.resu{

}
.resu .anverso{
    background-image: url("../img/resurreccion.jpg");
}

.brazo_dcho{

}
.brazo_dcho .anverso{
    background-image: url("../img/brazo_dcho.png");
}

.brazo_izq{

}
.brazo_izq .anverso{
    background-image: url("../img/brazo_izq.png");
}

.pie_dcho{

}
.pie_dcho .anverso{
    background-image: url("../img/pie_dcho.png");
}

.pie_izq{

}
.pie_izq .anverso{
    background-image: url("../img/pie_izq.png");
}

.dragon{

}
.dragon .anverso{
    background-image: url("../img/dragon_fusion.png");
}

.ojos_rojos{

}
.ojos_rojos .anverso{
    background-image: url("../img/ojos_rojos.png");
}

.mago{

}
.mago .anverso{
    background-image: url("../img/mago.png");
}

.olla{

}
.olla .anverso{
    background-image: url("../img/olla.png");
}