:root{
    --width: 300px;
    --aspecto: 1.453;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* Casda una de las cartas */
.carta {
    position: relative;
    width: var(--width);
    height: calc(var(--width) * var(--aspecto));
}

/* El anverso y reverso de cada carta */
.carta div{
    position: absolute;
    width: var(--width);
    height: calc(var(--width) * var(--aspecto));
    background-size: cover;
    transition: all 1s;
}

/* Dos caras genéricas */
.reverso{
    background-image: url("../img/reverso.jpg");
    z-index: 10;
    transform: rotateY(0deg);
}
.carta:hover .reverso{
    transform: rotateY(180deg);
    z-index: 0;
}
.anverso{
    z-index: 0;
    transform: rotateY(180deg);
}
.carta:hover .anverso{
    transform: rotateY(0deg);
    z-index: 10;
}

/* Los anversos de cada carta */
.exodia .anverso{
    background-image: url("../img/exodia.png");
}
.resu .anverso{
    background-image: url("../img/resurreccion.jpg");
}

@keyframes girar-reverso {

    from{

    }
    to{

    }
    
}