body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

body div{
    position: absolute;
}

#copkit-container{
    z-index: 15;
    height: 100vh;
}
#copkit{
    position: absolute;
    width: 1540px;
}
#palanca{
    opacity: 0.7;
    top: 680px;
    left: 725px;
    position: absolute;
    width: 100px;
    transition: ease 0.2s;
}
#palanca:hover{
    filter: drop-shadow(-4px -4px 4px white) drop-shadow(4px 4px 4px white);
}

#fondo{
    z-index: 7;
    height: 100vh;
}
#espacio, #planeta1, #planeta2, #agujero, #nave1, #nave2, #laser1, #laser2, #laser3{
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
#espacio{
    width: 1800px;
    height: 1000px;
    animation-name: movimiento-fondo;
}
#planeta1{
    position: absolute;
    width: 400px;
    left: 250px;
    top: 100px;
    animation-name: movimiento-planeta;
    opacity: 0.8;
}
#planeta2{
    position: absolute;
    width: 120px;
    left: 1300px;
    top: 320px;
    animation-name: movimiento-planeta;
    opacity: 0.8;
}
#agujero{
    position: absolute;
    width: 300px;
    left: 820px;
    bottom: 5px;
    animation-name: movimiento-agujero;
    animation-fill-mode: forwards;
}

#nave1, #laser1, #laser2, #laser3{
    position: absolute;
    left: -100px;
}
#nave1{
    z-index: 9;
    top: 500px;
    width: 100px;
    animation-name: movimiento-nave1;
}
#laser1{
    z-index: 8;
    top: 525px;
    width: 50px;
    animation-name: disparo;
}
#laser2{
    z-index: 8;
    top: 510px;
    width: 50px;
    animation-name: disparo;
    animation-delay: 0.35s;
}
#laser3{
    z-index: 8;
    top: 500px;
    width: 50px;
    animation-name: disparo;
    animation-delay: 0.7s;
}

#nave2{
    z-index: 9;
    position: absolute;
    width: 100px;
    top: 470px;
    left: 140px;
    animation-name: movimiento-nave2;
}

#fondo2{
    z-index: 2;
    height: 100vh;
    left: -50px;
    animation-name: viaje-espacial;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}
#viaje{
    left: -2000px;
    width: 1600px;
}

@keyframes movimiento-fondo {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    40%{
        transform: translateX(-250px) translateY(-190px);
    }
    80%{
        transform: translateX(-230px) translateY(-450px);
        /* scale: 1; */
    }
    100%{
        /* transform: translateX(-230px) translateY(-450px); */
        /* scale: 1.7; */
    }
}

@keyframes movimiento-planeta {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    40%{
        transform: translateX(-200px) translateY(-170px);
    }
    80%{
        transform: translateX(-210px) translateY(-430px);
    }
    100%{
        /* transform: translateX(-210px) translateY(-430px); */
    }
}

@keyframes movimiento-agujero {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    40%{
        transform: translateX(-220px) translateY(-190px);
    }
    80%{
        transform: translateX(-230px) translateY(-450px);
        /* scale: 1; */
    }
    100%{
        /* transform: translateX(-40px) translateY(-120px); */
        /* scale: 3.5; */
    }
}

@keyframes movimiento-nave1 {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    40%{
        transform: translateX(-250px) translateY(-190px);
    }
    80%{
        transform: translateX(-230px) translateY(-450px);
    }
    100%{
        left: 2000px;
        top: 400px;
    }
}

@keyframes movimiento-nave2 {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    40%{
        transform: translateX(-250px) translateY(-190px);
    }
    80%{
        transform: translateX(-230px) translateY(-450px);
    }
    100%{
        left: 2500px;
        top: 350px;
    }
}

@keyframes disparo {
    0%{
        transform: translateX(0px) translateY(0px);
    }
    40%{
        transform: translateX(-250px) translateY(-190px);
    }
    80%{
        transform: translateX(-230px) translateY(-450px);
    }
    100%{
        left: 4000px;
        top: 400px;
    }
}

@keyframes viaje-espacial {
    0%{
        z-index: 14;
        scale: 1;
        top: 0;
        opacity: 1;
    }
    25%{
        z-index: 14;
    }
    50%{
        z-index: 14;
        opacity: 1;
    }
    75%{
        z-index: 14;
    }
    100%{
        top: 500px;
        left: -120px;
        scale: 8;
        z-index: 2;
        opacity: 0;
    }
}
