.container{
    background-color: rgb(0, 78, 3);
    border: 1px solid black;
    
    justify-self: center;
    width: 45%;
    height: 96vh;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fila1, .fila2, .fila3{
    width: 100%;
    height: 31.5vh;

    display: flex;
    flex-direction: row;
    gap: 5px;
}

.fila1 img, .fila2 img, .fila3 img {
    width: 100%;
    height: 31.5vh;
}

.columna1, .columna2, .columna3, .columna4, .columna5, .columna6, .columna7 {
    flex: 1;
}


/* ANIMACIÓN */
/* Arriba y abajo,  mover con una curva*/
.fila1 .columna3 {
    position: relative;
}
.fila1 .columna3 img {
    position: absolute;
    left: 0;
    transition: left 3s ease-in; /* Transición suave de desplazamiento */
}
.fila1 .columna3 img:hover {
    left: 20px; 
}